# general things to ignore
build/
dist/
data/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
.idea/
*.so
*~
./*.xlsx
*.xlsx#
.pytest_cache/
.venv/
.env
.coverage
tests/htmlcov/
docs/build
pycharm
*.py#
report.xml
log.out
.gitinfo
*.log
.vscode
reports/
dask-worker-space/
*.tfstate
*.bat
.python-version
